<section id="more_places"
         class="more_places parallax lazyload section section--no-margin"
         data-bg="{{ asset('img/more-destinations.jpg') }}">

    <div class="more_places__content">
        <div class="more_places__content__title">
            <h2 class="title title--white title--big title--center">
                {% trans %}
                    section_title.other_options
                {% endtrans %}
            </h2>
        </div>
        <div class="more_places__content__places">
            <ul>
                <li><a target="_blank"  href="https://www.taxidriverscuba.com/en/airport/1/transfer-from-the-airports-of-cuba-to-your-destination">
                        {% trans %}
                            destination.airport
                        {% endtrans %}
                    </a></li>
                <li><a target="_blank" href="https://www.taxidriverscuba.com/en/experience/7/attractive-day-excursion-from-havana-to-varadero">Varadero</a></li>
                <li><a target="_blank" href="https://www.taxidriverscuba.com/en/booking/5/habana-to-cayo-santa-maria">Cayo Santa Maria</a></li>
                <li><a target="_blank" href="https://www.taxidriverscuba.com/en/booking/6/habana-to-cayo-coco">Cayo Coco</a></li>
                <li><a target="_blank" href="https://www.taxidriverscuba.com/en/booking/11/habana-to-cienfuegos">Cienfuegos</a></li>
                <li><a target="_blank" href="https://www.taxidriverscuba.com/en/booking/12/habana-to-trinidad">Trinidad</a></li>
                <li><a target="_blank" href="https://www.taxidriverscuba.com/en/booking/7/habana-to-vinales">Vinales (transfer)</a></li>
            </ul>
        </div>
        <div class="more_places__content__button">
            <a target="_blank" class="btn btn--primary-gradient"
               href="https://www.taxidriverscuba.com">
                {% trans %}
                    button.other_places
                {% endtrans %}
            </a>
        </div>
    </div>

</section>