{% trans_default_domain 'FOSUserBundle' %}




<div class="login-area login-bg" style="background-image: url({{ asset('img/more-destinations.jpg') | imagine_filter('min_width_1920') }})">
    <div class="container">
        <div class="login-box ptb--100">
            <form method="POST" action="{{ path('fos_user_registration_register') }}" class="fos_user_registration_register">


             <div class="login-form-head">
                <h4>Register</h4>

            </div>
            {% if form._token is defined and form._token is not null  %}
                {{ form_row(form._token) }}
            {% endif %}
            <div class="login-form-body">
                {% if error is defined and error is not null %}
                    <div class="form-gp text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-gp">
                    <label for="email">Email address</label>
                    <input type="email" id="email" name="fos_user_registration_form[email]" value="" required="required" autocomplete="username" />
                    <i class="ti-email"></i>
                </div>
                <div class="form-gp">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="fos_user_registration_form[username]" value="" required="required" autocomplete="username" />
                    <i class="ti-user"></i>
                </div>
                <div class="form-gp">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="fos_user_registration_form[plainPassword][first]" required="required" autocomplete="current-password" />
                    <i class="ti-lock"></i>
                </div>
                <div class="form-gp">
                    <label for="password">Repeat password</label>
                    <input type="password" id="password" name="fos_user_registration_form[plainPassword][second]" required="required" autocomplete="current-password" />
                    <i class="ti-lock"></i>
                </div>

                <div class="submit-btn-area">
                    <button type="submit" id="_submit" name="_submit">Submit <i class="ti-arrow-right"></i></button>
                </div>
            </div>

            </form>
        </div>
    </div>
</div>
<!-- login area end -->