.btn{
    padding: .5em 1.5em;
    background-color: transparent;
    border-radius: 4px;
    color: white;
    border: 0 transparent solid;

    @mixin atLarge{
        padding: .75em 2em;
    }

    &--primary{
        color: white;
        background-color: $mainGreen;
    }

    &--small{
        padding: .5em 1.5em;
        font-size: 85%;
    }

    &--inline{
        line-height: 3em;
    }

    &--primary-gradient{
        color: white;
        background: linear-gradient(90deg, #60a902 80%, #776c6c);
        box-shadow: #ffffff73 2px 2px 10px;
        border-bottom: 1px transparent solid;

        &:hover{
            background: linear-gradient(-90deg, #60a902 80%, #776c6c);
        }
    }
    
}