.reservation_details{
    padding-top: 1em;
    top: -3em;
    position: relative;
    background-color: white;

    @mixin atLarge{
        margin-top: 0;
        padding: 3em 15% 0 15%;
    }

    & #time_alert{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & img{
            width: 4.5em;
        }

        & .advise_text {
            color: #f93737;

            & a{
                color: #f93737;
                text-decoration: underline;
            }
        }
    }

    &__body{
        text-align: left;

        @mixin atLarge{
            text-align: center;
        }

        & a {
            color: $mainGreen;
        }
    }
}